<!DOCTYPE html>
<html>
<head>
  <title>CitiesGameHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <div class="header">
        <h3 class="text-muted">City Game Helper</h3>
      </div>
  <%= yield %>
</div>


</body>
</html>
